extends ../layout

block content	
	h1 Your Documents
	p
		a(class='button button--new', href='/documents/new') + New Document
	- if (documents.length)
		ul
		- documents.forEach(d => {
			li(class='documents')
				a(class='button', href=`/documents/edit/${d.id}`) Edit
				form(method='post', action=`/documents?_method=DELETE`, class='button-delete-container')
					input(name='userId', value=userId, type='hidden')
					input(name='id', value=d.id, type='hidden')
					input(type='submit', class='button button--destroy', value='Delete')
				a(href=`/documents/${d.id}`)
					=d.title
		- })
	- else
		p Список пуст