.page
	h2 Log In
	p
		a.button(href='/users/new') Create an account &rarr;
	- if (flash)
		p
			=flash
	form.users#login(method='post', action='/sessions')
		div
			label Email:
			input(name='email', value=user.email || '')

		div
			label Password:
			input(name='password', value=user.password || '', type='password')
		div
			label(for='remember_me') Remember me:
			input#remember_me(type='checkbox', name='remember_me')
		div
			input(type='submit', value='Log In')